/QuickSurge/Tides/TPXO9/DATA/grid_tpxo9v2
/QuickSurge/Tides/TPXO9/DATA/h_tpxo9.v2
/QuickSurge/Tides/TPXO9/DATA/u_tpxo9.v2

/QuickSurge/Input_files/CK_north/merged_WGS84.tif

/QuickSurge/Input_files/CK_south/merged_WGS84.tif

/QuickSurge/Input_files/SA/merged_WGS84.tif

/QuickSurge/Input_files/TO/merged_WGS84.tif

/QuickSurge/Input_files/VU/merged_WGS84.tif

/miniconda/Miniconda3-py38_4.12.0-Linux-x86_64.sh
